<tr style="text-align: left;">

    <td><a href="{{ url_for('main.club', id=club.id) }}">{{ club.clb_name }}</a></td>
    <td>{{ club.clb_town }}</td>
    <!-- <td>{{ club.clb_postcode }}</td> -->
    <td>{{ club.member.div_desc }}</td>
    <td>
        {% if club.clb_linked_prs %}
        {% for l in club.clb_linked_prs %}
        {{ l.prs_name}}<br>
        {% endfor %}
        {% endif %}
        {% if club.clb_linked_prob %}
        {% for l in club.clb_linked_prob %}
        {{ l.prob_name}}<br>
        {% endfor %}
        {% endif %}
    </td>
    <td>
        {% if club.clb_contract %}
        <i class="material-icons">check_box</i>
        {% else %}
        <i class="material-icons">check_box_outline_blank</i>
        {% endif %}
    </td>
    <td>
        {% if club.clb_collab %}
        <i class="material-icons">check_box</i>
        {% else %}
        <i class="material-icons">check_box_outline_blank</i>
        {% endif %}
    </td>
    <td>
        {% if club.clb_fundingapp %}
        <i class="material-icons">check_box</i>
        {% else %}
        <i class="material-icons">check_box_outline_blank</i>
        {% endif %}
    </td>

    <td>
        {% if club.clb_contact %}
        {% for c in club.clb_contact %}
        {% if c.con_title %} {{ c.con_title }} {% endif %}
        {{ c.con_firstname }}
        {{ c.con_surname }}<br>
        {% endfor %}
        {% else %}
        <a href="{{ url_for('main.newcontact') }}">Add Contact</a>
        {% endif %}
    </td>
</tr>