
    
    <tbody>
        <tr style="text-align: left;">
            <td>{{ club.clb_name }}</td>
            <td>{{ club.clb_town }}</td>
            <td>{{ club.member.div_desc }}</td>
            <td>
                {% if club.clb_contact.count() > 0 %}
                    {{ club.clb_contact.con_firstname }}
                {% else %}
                    <a href="{{ url_for('main.newcontact') }}">Add Contact</a>
                {% endif %}
            </td>
        </tr>
    </tbody>
    
   