{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h3 class="card-title" style="text-transform: capitalize;">Hello {{ current_user.username }}
                        </h3>
                        <h4 class="card-category">Admin Console</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">


                            <div class="col-md-3">
                                <a href="{{ url_for('main.newdivision') }}">Add Division</a>
                            </div>
                            <div class="col-md-3">
                                <a href="{{ url_for('main.newcourse') }}">Add a Course</a>
                            </div>
                            <div class="col-md-3">
                                <a href="{{ url_for('main.newcategory') }}">Add a Prison Category</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-category">User Management</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="{{ url_for('auth.newuser') }}">Add User</a>
                            </div>
                            <div class="col-md-3">
                                <a href="{{ url_for('auth.edituser') }}">Validate User</a>
                            </div>
                            <div class="col-md-3">
                                <a href="{{ url_for('main.users') }}">Active Users</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-category">Kit Management</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="{{ url_for('main.stock') }}">View Current Stock Levels</a>
                            </div>
                            <div class="col-md-3">
                                <a href="{{ url_for('main.updatestockitem') }}">Add Stock</a>
                            </div>
                            <div class="col-md-3">
                                <a href="{{ url_for('main.batchupdatestock') }}">Batch Stock Update</a>
                            </div>
                            <div class="col-md-3">
                                <a href="{{ url_for('main.addstockitem')}}">Add New Item</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if form %}
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">

                        {{ wtf.quick_form(form) }}

                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if stocks %}
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Inventory</h4>
                        <p class="card-category">Kit on Hand</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover" id="stockTable">
                            <thead class="text-primary">
                                <th scope="col">SKU</th>
                                <th scope="col">Item Description</th>
                                <th scope="col">Size</th>
                                <th scope="col">Qty</th>
                            </thead>

                            <tbody>
                                {% for stock in stocks %}
                                {% if stock.qty < lowstock and stock.qty > 0 %}
                                <tr style="background-color: sandybrown; color: brown;">
                                    <td>{{ stock.sku }}</td>
                                    {% for item in items %}
                                    {% if stock.sku == item.item_sku %}
                                    <td>{{ item.item_desc }}</td>
                                    <td>{{ item.item_size }}</td>
                                    {% endif %}
                                    {% endfor %}
                                    <td>{{ stock.qty }}</td>
                                </tr>
                                {% elif stock.qty <= 0 %}
                                <tr style="background-color: red; color: white;">
                                    <td>{{ stock.sku }}</td>
                                    {% for item in items %}
                                    {% if stock.sku == item.item_sku %}
                                    <td>{{ item.item_desc }}</td>
                                    <td>{{ item.item_size }}</td>
                                    {% endif %}
                                    {% endfor %}
                                    <td>{{ stock.qty }}</td>
                                </tr>
                                {% else %}
                                <tr style="background-color: lightgreen; color: darkgreen;">
                                    <td>{{ stock.sku }}</td>
                                    {% for item in items %}
                                    {% if stock.sku == item.item_sku %}
                                    <td>{{ item.item_desc }}</td>
                                    <td>{{ item.item_size }}</td>
                                    {% endif %}
                                    {% endfor %}
                                    <td>{{ stock.qty }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>




        {% endif %}
    </div>

</div>



{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    // Add active class to the current button (highlight it)
    var currButton = document.querySelector('li.nav-item.active');
    if (currButton) {
        currButton.classList.remove("active");
    };
    var newBtn = document.querySelector('#admin');
    newBtn.classList.add("active");
</script>

<script>
    $(document).ready(function () {

        var buttonCommon = {
            exportOptions: {
                format: {
                    body: function (data, row, column, node) {
                        var regex = /(<([^>]+)>)/ig;
                        var fls_chk_box = "check_box_outline_blank";
                        var tr_chk_box = "check_box";
                        var add_contact = "Add Contact";
                        no_html_data = data.replace(regex, '');
                        fls_data = no_html_data.replace(fls_chk_box, 'N');
                        tr_data = fls_data.replace(tr_chk_box, 'Y');
                        clean_data = tr_data.replace(add_contact, '');
                        return clean_data;

                    }
                }
            }
        };

        var table = $('#stockTable').DataTable({
            dom: 'Bflrtip',
            buttons: [
                $.extend(true, {}, buttonCommon, {
                    extend: 'copy'
                }),
                $.extend(true, {}, buttonCommon, {
                    extend: 'excel'
                }),
                $.extend(true, {}, buttonCommon, {
                    extend: 'csv'
                }),
                $.extend(true, {}, buttonCommon, {
                    extend: 'pdf'
                })


            ]

        });


    });
</script>


{% endblock %}