{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Clubs</h4>

                    </div>
                    <div class="card-body">
                        <div class="table-repsonsive">
                            <table class="table table-hover" id="clubTable" style="width:100%">
                                <thead class="text-primary">
                                    <th scope="col">Club</th>
                                    <th scope="col">Town</th>
                                    <!-- <th scope="col">PostCode</th> -->
                                    <th scope="col">League</th>
                                    <th scope="col">Contract</th>
                                    <th scope="col">Collaboration</th>
                                    <th scope="col">Funding</th>
                                    <th scope="col">Contact</th>
                                </thead>
                                <tbody>
                                    {% for club in clubs %}
                                    {% include '_club.html' %}
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!--<nav aria-label="...">
                                <ul class="pager">
                                    <li class="previous{% if not prev_url %} disabled{% endif %}">
                                        <a href="{{ prev_url  or '#' }}">
                                            <span aria-hidden="true">&larr;</span> Previous
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('main.newclub') }}">
                                            <span aria-hidden="true"></span>Add Club
                                        </a>
                                    </li>
                                    <li class="next{% if not next_url %} disabled{% endif %}">
                                        <a href="{{ next_url  or '#' }}">
                                            Next <span aria-hidden="true">&rarr;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav> -->
                        </div>
                    </div>
                </div> <!-- card -->
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="...">
                    <ul class="pager">
                        <li>
                            <button class="btn btn-primary" type="submit"><a href="{{ url_for('main.newclub') }}">Add
                                    Club</a>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>





{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    // Add active class to the current button (highlight it)
    var currButton = document.querySelector('li.nav-item.active');
    if (currButton) {
        currButton.classList.remove("active");
    };
    var newBtn = document.querySelector('#club');
    newBtn.classList.add("active");
</script>

<script>
    $(document).ready(function () {

        var buttonCommon = {
            exportOptions: {
                format: {
                    body: function (data, row, column, node) {
                        var regex = /(<([^>]+)>)/ig;
                        var fls_chk_box = "check_box_outline_blank";
                        var tr_chk_box = "check_box";
                        var add_contact = "Add Contact";
                        no_html_data = data.replace(regex, '');
                        fls_data = no_html_data.replace(fls_chk_box, 'N');
                        tr_data = fls_data.replace(tr_chk_box, 'Y');
                        clean_data = tr_data.replace(add_contact, '');
                        return clean_data;

                    }
                }
            }
        };

        var table = $('#clubTable').DataTable({
            dom: 'Bflrtip',
            buttons: [
                $.extend(true, {}, buttonCommon, {
                    extend: 'copy'
                }),
                $.extend(true, {}, buttonCommon, {
                    extend: 'excel'
                }),
                $.extend(true, {}, buttonCommon, {
                    extend: 'csv'
                }),
                $.extend(true, {}, buttonCommon, {
                    extend: 'pdf'
                })


            ]

        });


    });
</script>
<!--
<script>
    $(document).ready(function () {
        $('#clubTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>

table.buttons().container().appendTo($('.col-md-6:eq(0)', table.table().container()));   

return column === 0 ?
data.replace(regex, '') :
data;

 -->


{% endblock %}