{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="content">
        <div class="container-fluid">
                <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="card card-stats">
                                        <div class="card-header card-header-info card-header-icon">
                                                <div class="card-icon">
                                                        <i class="material-icons">sports_soccer</i>
                                                </div>
                                                <p class="card-category">Clubs</p>
                                                <h3 class="card-title">{{ numclubs }}</h3>
                                        </div>
                                        <div class="card-footer">
                                                <div class="stats">
                                                        <i class="material-icons text-info">add_circle</i>
                                                        <a href="{{ url_for('main.newclub') }}">add a club</a>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="card card-stats">
                                        <div class="card-header card-header-danger card-header-icon">
                                                <div class="card-icon">
                                                        <i class="material-icons">fence</i>
                                                </div>
                                                <p class="card-category">Prisons</p>
                                                <h3 class="card-title">{{ numprisons }}</h3>
                                        </div>
                                        <div class="card-footer">
                                                <div class="stats">
                                                        <i class="material-icons text-danger">add_circle</i>
                                                        <a href="{{ url_for('main.newprison') }}">add a prison</a>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="card card-stats">
                                        <div class="card-header card-header-warning card-header-icon">
                                                <div class="card-icon">
                                                        <i class="material-icons">lock_open</i>
                                                </div>
                                                <p class="card-category">Probation Services</p>
                                                <h3 class="card-title">{{ numprobs }}</h3>
                                        </div>
                                        <div class="card-footer">
                                                <div class="stats">
                                                        <i class="material-icons text-warning">add_circle</i>
                                                        <a href="{{ url_for('main.newprobservice') }}">add a probation
                                                                service</a>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="card card-stats">
                                        <div class="card-header card-header-success card-header-icon">
                                                <div class="card-icon">
                                                        <i class="material-icons">groups</i>
                                                </div>
                                                <p class="card-category">Cohorts</p>
                                                <h3 class="card-title">{{ numcohorts }}</h3>
                                        </div>
                                        <div class="card-footer">
                                                <div class="stats">
                                                        <i class="material-icons text-success">group_add</i>
                                                        <a href="{{ url_for('main.newcohort') }}">create a
                                                                cohort</a>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div> <!-- End of row 1-->
                <div class="row">

                        <!--  <div class="col-md-4">
                                        <div class="card card-chart">
                                                <div class="card-header card-header-success">
                                                        <div class="ct-chart" id="dailySalesChart"></div>
                                                </div>
                                                <div class="card-body">
                                                        <h4 class="card-title">Funding</h4>
                                                        <p class="card-category">
                                                                <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase.
                                                        </p>
                                                </div>
                                                <div class="card-footer">
                                                        <div class="stats">
                                                                <i class="material-icons">account_balance</i> Total funding
                                                                to date: {{ "£ {:.2f}".format(totalfunding) }}
                                                        </div>
                                                </div>
                                        </div>
                                </div> -->
                        <div class="col-md-4">
                                <div class="card card-stats">
                                        <div class="card-header card-header-success card-header-icon">
                                                <div class="card-icon">
                                                        <i class="material-icons">account_balance</i>
                                                </div>
                                                <p class="card-category">Funding</p>
                                                <h3 class="card-title">Year To Date
                                                        {{ "£ {:,.2f}".format(funding_ytd) }}</h3>
                                                <h4 class="card-title">Total: {{ "£ {:,.2f}".format(totalfunding) }}
                                                </h4>
                                        </div>
                                        <div class="card-footer">
                                                <div class="stats">
                                                        <i class="material-icons text-success">date_range</i>
                                                        {{ moment(today).format('LL') }}
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card card-stats">
                                        <div class="card-header card-header-info card-header-icon">
                                                <div class="card-icon">
                                                        <i class="material-icons">school</i>
                                                </div>
                                                <p class="card-category">Graduates</p>
                                                <h3 class="card-title">{{ graduates }}/{{ participants }}</h3>
                                        </div>
                                        <div class="card-footer">
                                                <div class="stats">
                                                        <i class="material-icons text-info">date_range</i>
                                                        {{ moment(today).format('LL') }}
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <!-- <div class="col-md-4">
                                        <div class="card card-chart">
                                                <div class="card-header card-header-danger">
                                                        <div class="ct-chart" id="completedTasksChart"></div>
                                                </div>
                                                <div class="card-body">
                                                        <h4 class="card-title">C.O.H</h4>
                                                        <p class="card-category">Current Balance</p>
                                                </div>
                                                <div class="card-footer">
                                                        <div class="stats">
                                                              <i class="material-icons">date_range</i> as at {{ moment(today).format('LL') }}
                                                        </div>
                                                </div>
                                        </div>
                                </div> -->
                        <div class="col-md-4">
                                <div class="card card-stats">
                                        <div class="card-header card-header-danger card-header-icon">
                                                <div class="card-icon">
                                                        <i class="fas fa-tshirt"></i>
                                                </div>
                                                <p class="card-category">Kit</p>
                                                {% for n in range(0,3) %}
                                                {% for item in items %}
                                                {% if stocks[n].sku == item.item_sku %}
                                                {% if stocks[n].qty <= 0 %}
                                                <h4 class="card-title" style="color:red;">
                                                        {{ item.item_desc }} {{ item.item_size }} - {{ stocks[n].qty }}
                                                </h4>
                                                {% elif stocks[n].qty > 0 and stocks[n].qty < lowstock %}
                                                <h4 class="card-title" style="color:orange;">
                                                        {{ item.item_desc }} {{ item.item_size }} -
                                                        {{ stocks[n].qty }}
                                                </h4>
                                                {% else %}
                                                <h4 class="card-title" style="color:green;">
                                                        {{ item.item_desc }} {{ item.item_size }} -
                                                        {{ stocks[n].qty }}
                                                </h4>
                                                {% endif %}
                                                {% endif %}
                                                {% endfor %}
                                                {% endfor %}


                                        </div>
                                        <div class="card-footer">
                                                <div class="stats">
                                                        <i class="fas fa-tshirt text-danger"
                                                                data-fa-transform="down-5"></i>&thinsp; Threshold:
                                                        {{ lowstock }} &emsp; <div style="color:red;">Out of Stock</div>
                                                        &emsp;
                                                        <div style="color:orange;">Low stock</div> &emsp; <div
                                                                style="color:green;">In Stock</div>
                                                        <!-- <div class="table-responsive">
                                                                        <table class="table table-hover"
                                                                                style="color:#3c4858;">
                                                                                <td scope="col">Small</td>
                                                                                <td scope="col">{{ tot_small }}</td>
                                                                                <td scope="col">Medium</td>
                                                                                <td scope="col">{{ tot_medium }}</td>
                                                                                <td scope="col">Large</td>
                                                                                <td scope="col">{{ tot_large }}</td>
                                                                                <td scope="col">X-Large</td>
                                                                                <td scope="col">{{ tot_xlarge }}</td>
                                                                        </table>
                                                                </div> -->
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <!--<div class="col-md-4">
                                        <div class="card card-stats">
                                                <div class="card-header card-header-danger card-header-icon">
                                                        <div class="card-icon">
                                                                <i class="material-icons">emoji_events</i>
                                                        </div>
                                                        <p class="card-category">Something</p>
                                                        <h3 class="card-title">Else</h3>
                                                </div>
                                                <div class="card-footer">
                                                        <div class="stats">
                                                                <i class="material-icons text-danger">date_range</i> To
                                                                date
                                                        </div>
                                                </div>
                                        </div>
                                </div> -->
                </div> <!-- end of row 2-->
                <div class="row">
                        <div class="col-lg-12 col-md-12">
                                <div class="card">
                                        <div class="card-header card-header-warning">
                                                <h4 class="card-title">Active Cohorts</h4>
                                                <p class="card-category">Currently active cohorts</p>
                                        </div>
                                        <div class="card-body table-responsive">
                                                <table class="table table-hover" id="dashCohTable">
                                                        <thead class="text-warning">
                                                                <th scope="col">Cohort Description</th>
                                                                <th scope="col">Club</th>
                                                                <th scope="col">Prison/PS</th>
                                                                <th scope="col">Start Date</th>
                                                                <th scope="col">End Date</th>
                                                                <th scope="col">Course</th>
                                                                <th scope="col">Participants</th>
                                                                <th scope="col">Graduates</th>
                                                                <th scope="col">Frequency</th>
                                                        </thead>
                                                        <tbody>
                                                                {% for cohort in cohorts %}
                                                                {% include '_dashcohort.html' %}
                                                                {% endfor %}
                                                        </tbody>
                                                </table>
                                        </div>
                                </div>
                        </div>
                        <!--  <div class="col-lg-6 col-md-12">
                                <div class="card">
                                        <div class="card-header card-header-tabs card-header-primary">
                                                <div class="nav-tabs-navigation">
                                                        <div class="nav-tabs-wrapper">
                                                                <span class="nav-tabs-title">Tasks:</span>
                                                                <ul class="nav nav-tabs" data-tabs="tabs">
                                                                        <li class="nav-item">
                                                                                <a href="#" class="nav-link"
                                                                                        data-toggle="tab">
                                                                                        <i
                                                                                                class="material-icons">monetization_on</i>
                                                                                        Funding
                                                                                        <div class="ripple-container">
                                                                                        </div>
                                                                                </a>
                                                                        </li>
                                                                        <li class="nav-item">
                                                                                <a href="#" class="nav-link active"
                                                                                        data-toggle="tab">
                                                                                        <i
                                                                                                class="material-icons">sports_soccer</i>
                                                                                        Club
                                                                                        <div class="ripple-container">
                                                                                        </div>
                                                                                </a>
                                                                        </li>
                                                                        <li class="nav-item">
                                                                                <a href="#" class="nav-link"
                                                                                        data-toggle="tab">
                                                                                        <i
                                                                                                class="material-icons">group</i>
                                                                                        Cohort
                                                                                        <div class="ripple-container">
                                                                                        </div>
                                                                                </a>
                                                                        </li>
                                                                </ul>

                                                        </div>
                                                </div>
                                        </div>
                                        <div class="class-body">
                                                <div class="tab-content">
                                                        <div class="tab-pane active" id="profile">
                                                                <table class="table">
                                                                        <tbody>
                                                                                <tr>
                                                                                        <td>
                                                                                                <div class="form-check">
                                                                                                        <label
                                                                                                                class="form-check-label">
                                                                                                                <input type="checkbox"
                                                                                                                        class="form-check-input"
                                                                                                                        value=""
                                                                                                                        checked>
                                                                                                                <span
                                                                                                                        class="form-check-sign">
                                                                                                                        <span
                                                                                                                                class="check"></span>
                                                                                                                </span>
                                                                                                        </label>
                                                                                                </div>
                                                                                        </td>
                                                                                        <td>Order kit from Puma</td>
                                                                                        <td
                                                                                                class="td-actions text-right">
                                                                                                <button type="button"
                                                                                                        rel="tooltip"
                                                                                                        title="Edit Task"
                                                                                                        class="btn btn-primary btn-link btn-sm">
                                                                                                        <i
                                                                                                                class="material-icons">edit</i>
                                                                                                </button>
                                                                                                <button type="button"
                                                                                                        rel="tooltip"
                                                                                                        title="Remove"
                                                                                                        class="btn btn-primary btn-link btn-sm">
                                                                                                        <i
                                                                                                                class="material-icons">close</i>
                                                                                                </button>
                                                                                        </td>
                                                                                </tr>
                                                                                <!-- <tr>
                                                                                                                                               <td>
                                                                                                                                                       <div
                                                                                                                                                               class="form-check">
                                                                                                                                                               <label
                                                                                                                                                                       class="form-check-label">
                                                                                                                                                                       <input type="checkbox"
                                                                                                                                                                               class="form-check-input"
                                                                                                                                                                               value="">
                                                                                                                                                                       <span
                                                                                                                                                                               class="form-check-sign">
                                                                                                                                                                               <span
                                                                                                                                                                                       class="check"></span>
                                                                                                                                                                       </span>
                                                                                                                                                               </label>
                                                                                                                                                       </div>
                                                                                                                                               </td>
                                                                                                                                               <td>Sign contract
                                                                                                                                                       with
                                                                                                                                                       Wolfsburg
                                                                                                                                               </td>
                                                                                                                                               <td
                                                                                                                                                       class="td-actions text-right">
                                                                                                                                                       <button type="button"
                                                                                                                                                               rel="tooltip"
                                                                                                                                                               title="Edit Task"
                                                                                                                                                               class="btn btn-primary btn-link btn-sm">
                                                                                                                                                               <i
                                                                                                                                                                       class="material-icons">edit</i>
                                                                                                                                                       </button>
                                                                                                                                                       <button type="button"
                                                                                                                                                               rel="tooltip"
                                                                                                                                                               title="Remove"
                                                                                                                                                               class="btn btn-primary btn-link btn-sm">
                                                                                                                                                               <i
                                                                                                                                                                       class="material-icons">close</i>
                                                                                                                                                       </button>
                                                                                                                                               </td>
                                                                                                                                       </tr> -->

                        </tbody>
                        </table>
                </div>
        </div>
</div>
</div>
</div> -->
</div> <!-- end of row 3-->
</div> <!-- container-fluid -->
</div> <!-- content -->



{% endblock %}

{% block scripts %}
{{ super() }}
<script>
        // Add active class to the current button (highlight it)
        var currButton = document.querySelector('li.nav-item.active');
        if (currButton) {
                currButton.classList.remove("active");
        };
        var newBtn = document.querySelector('#dash');
        newBtn.classList.add("active");
</script>

<script>
        $(document).ready(function () {

                var buttonCommon = {
                        exportOptions: {
                                format: {
                                        body: function (data, row, column, node) {
                                                var regex = /(<([^>]+)>)/ig;
                                                var fls_chk_box =
                                                        "check_box_outline_blank";
                                                var tr_chk_box = "check_box";
                                                var add_contact = "Add Contact";
                                                no_html_data = data.replace(regex, '');
                                                fls_data = no_html_data.replace(
                                                        fls_chk_box, 'N');
                                                tr_data = fls_data.replace(tr_chk_box,
                                                        'Y');
                                                clean_data = tr_data.replace(
                                                        add_contact, '');
                                                return clean_data;

                                        }
                                }
                        }
                };

                var table = $('#dashCohTable').DataTable({
                        dom: 'Bflrtip',
                        buttons: [
                                $.extend(true, {}, buttonCommon, {
                                        extend: 'copy'
                                }),
                                $.extend(true, {}, buttonCommon, {
                                        extend: 'excel'
                                }),
                                $.extend(true, {}, buttonCommon, {
                                        extend: 'csv'
                                }),
                                $.extend(true, {}, buttonCommon, {
                                        extend: 'pdf'
                                })


                        ]

                });


        });
</script>

{% endblock %}