{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="content">
    <div class="container-fluid">
        <div id="map"></div>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    // Add active class to the current button (highlight it)
    var currButton = document.querySelector('li.nav-item.active');
    if (currButton) {
        currButton.classList.remove("active");
    };
    var newBtn = document.querySelector('#menumap');
    newBtn.classList.add("active");
</script>

{% endblock %}