{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Probation Services</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" id="psTable" style="width:100%">
                                <thead class="text-primary">
                                    <th scope="col">Probation Service</th>
                                    <th scope="col">Town</th>
                                    <th scope="col">Contact</th>
                                </thead>
                                <tbody>
                                    {% for probservice in probservices %}
                                    {% include '_probservice.html' %}
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!--<nav aria-label="...">
                                <ul class="pager">
                                    <li class="previous{% if not prev_url %} disabled{% endif %}">
                                            <a href="{{ prev_url  or '#' }}">
                                                <span aria-hidden="true">&larr;</span> Prev
                                            </a>
                                        </li>
                                    <li>
                                        <a href="{{ url_for('main.newprobservice') }}">
                                            <span aria-hidden="true"></span>Add Probation Service
                                        </a>
                                    </li>
                                    <li class="next{% if not next_url %} disabled{% endif %}">
                                            <a href="{{ next_url  or '#' }}">
                                                Next <span aria-hidden="true">&rarr;</span>
                                            </a>
                                        </li>
                                </ul>
                            </nav> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="...">
                    <ul class="pager">
                        <li>
                            <button class="btn btn-primary" type="submit"><a
                                    href="{{ url_for('main.newprobservice') }}">Add
                                    Probation Service</a>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>







{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    // Add active class to the current button (highlight it)
    var currButton = document.querySelector('li.nav-item.active');
    if (currButton) {
        currButton.classList.remove("active");
    };
    var newBtn = document.querySelector('#probservice');
    newBtn.classList.add("active");
</script>

<script>
    $(document).ready(function () {
        var buttonCommon = {
            exportOptions: {
                format: {
                    body: function (data, row, column, node) {
                        var regex = /(<([^>]+)>)/ig;
                        var add_contact = "Add Contact";
                        clean_data = data.replace(add_contact, '');
                        return clean_data.replace(regex, '');

                    }
                }
            }
        };
        var table = $('#psTable').DataTable({
            pagingType: "full_numbers",
            dom: 'Bflrtip',
            buttons: [
                $.extend(true, {}, buttonCommon, {
                    extend: 'copy'
                }),
                $.extend(true, {}, buttonCommon, {
                    extend: 'excel'
                }),
                $.extend(true, {}, buttonCommon, {
                    extend: 'csv'
                }),
                $.extend(true, {}, buttonCommon, {
                    extend: 'pdf'
                })


            ],
            autoWidth: false,

        });

    });
</script>
{% endblock %}